# Main CrewAI LLM - Open AI

# OPEN AI LLM
MODEL=openai/gpt-5-nano
OPENAI_MODEL_NAME=openai/gpt-5-nano
LLM_OUTPUT_TOKEN_PARAM=max_completion_tokens

# OpenAI API
OPENAI_API_KEY=sk-proj-API_KEY_HERE
OPENAI_API_BASE=https://api.openai.com/v1


# Embeddings open ai
EMBEDDER_PROVIDER=openai
EMBEDDER_MODEL=text-embedding-3-small

# Chroma / embedding API key
CHROMA_OPENAI_API_KEY=sk-proj-API_KEY_HERE
