# Azure Foundry Example
MODEL=azure/abc-gpt-5-nano
LLM_OUTPUT_TOKEN_PARAM=max_completion_tokens
AZURE_API_KEY=<API_KEY>
EMBEDDER_AZURE_API_KEY=<API_KEY>

AZURE_API_BASE=https://eastus2.api.cognitive.microsoft.com/
AZURE_API_VERSION=2025-01-01-preview

# Embeddings - Azure OpenAI ADA

EMBEDDER_PROVIDER=azure
EMBEDDER_MODEL=text-embedding-ada-002
EMBEDDER_API_VERSION=2023-05-15
EMBEDDER_AZURE_API_BASE=https://abc.openai.azure.com
EMBEDDER_AZURE_DEPLOYMENT_ID=abc-text-embedding-ada-002git

